  :root {
    --blue-color: #0055FF;
    --green-color: #26C467;
    --red-color: #FF5454;
    --yellow-color: #FFD400;
    --sarahPink-color: #FFC5DB;
    --background-color: #FFF7E5; 
    --h2-color: #353535; 
    --h1-color: #000000; 
    --footer-color: #6696F5;
    --header-color: #FFF7E5;
  }